@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here
body {
    padding-top: 2.5%;
}
.container {
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #EEEEEE;
}
.container::after {
    clear: both;
    content: "";
    display: table;
}
.output-screen {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1.1em;
    margin-bottom: .8em;
    height: 250px;
    padding: 1em;
    width: 100%;
}
.output-screen:focus {
    outline: none;
}
button {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
    margin: 2px 0;
    text-align: center;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #e0dbdb;
}
.row-one, .row-two, .row-three, .row-four, .row-five {
    width: 100%;
    text-align: center;
}
#spacebar {
    width: 50%;
}
.pressed {
    background-color: #e0dbdb;
}


